# Ignore large datasets
*.csv
*.db
data/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

data/
*.csv
*.db

data/
*.csv
*.db
.ipynb_checkpoints/
